
.neonMain{
  font-family: 'Neon Sans', cursive;
  font-size:4rem;
  color: #FFD5FF;
  font-weight: 900;
  letter-spacing: 0.7rem;
  text-shadow: 1px 0px 2px #FFD5FF, 2px 0px 3px #FFD5FF, 2px 0px 2px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 10px #D42CCA, 2px 0px 15px, 5px 0px 70px, 20px 0vw 100px #D42CCA,40px 0vw 100px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

